body {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
}

img {
  max-inline-size: 100%;
  block-size: auto;
  object-fit: contain;
}

h1 {
  font-size: 1.35em;
  font-weight: bold;
}

h2 {
  font-size: 1.15em;
  font-weight: bold;
  padding: 5px;
}

h3 {
  font-size: 0.95em;
  font-weight: bold;
  padding: 0px 0px 5px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
}

li {
  font-size: 0.7em;
  text-decoration-line: underline;
  float: right;
  display: block;
  text-align: center;
  padding: 5px;
}

.title {
  color: white;
  background-color: #aa0000;
  display: flex;
  align-items: center;
  padding: 15px 25px;
}

.title span {
  margin-left: auto;
  font-size: 0.7em;
  font-weight: bold;
  text-decoration-line: underline;
}

.navigation {
  color: white;
  background-color: #333333;
}

.center {
  display: flex;
  flex-direction: row;
}

.main {
  width: 75vw;
  color: black;
  background-color: white;
  margin-right: 30px;
}

.main h2 {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 30px;
}

.main p {
  text-align: left;
  font-size: 0.65em;
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-left: 30px;
}

.main img {
  padding-top: 20px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-left: 20px;
  width: 80vw;
}

.sidebar {
  width: 20vw;
  color: black;
  background-color: white;
  text-align: left;
  padding: 20px;
  margin-left: 30px;
}

#img1 {
  margin-bottom: 35px;
}

#img2 {
  margin-bottom: 35px;
}

#img3 {
  margin-bottom: 10px;
}

.footer {
  color: white;
  background-color: #333333;
  padding: 25px;
  text-align: left;
  font-size: 0.65em;
}
